 /* Reset some default margin and padding */
 * {
    font-family: "Lucida Console";
    background-color: #141313;
    /* Dark background color */
    color: #fff;
    /* Light font color */
}

body,
h2 {
    margin: 0;
    padding: 0;

}

h2 {
    color: coral;
}

h3 {
    color: rgb(63, 158, 103);
}

/* Style the header */
header {
    padding: 20px;
    text-align: center;
}

p {
    margin: 10;
    padding: 10;

}


/* Style the article content */
#WrappingDiv {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    line-height: 1.6;
}



/* Add additional styles as needed */
/* Apply styles to the entire table */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

/* Style table header */
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}



/* Style table cells */
td {
    border: 1px solid #ddd;
    padding: 8px;
}

section {
    padding-top: 15px;
    padding-bottom: 15px;
}
.board{
    display: flex; /* Use flexbox to align SVGs horizontally */
}
.board > svg{
    display: inline-block; /* Make SVGs display inline */
    width: 40px; /* Set the width of each SVG */
    height: 60px; /* Set the height of each SVG */
    margin-right: 0px; /* Add some spacing between SVGs */
}
.board > :nth-child(3) {
    margin-right: 15px;
}
.board > :nth-child(4) {
    margin-right: 15px;
}

.container{
    display: flex;
}


