.tooltip {
    visibility: hidden;
    width: auto;
    white-space: nowrap;
    background-color: #363434;
    color: #000000;
    text-align: left;
    padding: 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
.tooltipTable{
    border-collapse: collapse;
}
.tooltipTable  * td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;

}
.matrixRowDiv{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    width: 50;
    box-sizing: border-box;
}

.matrixSingleHandDiv {

    box-sizing: border-box;
    color: Black;
    display: inline-block;
    height: 4vh;
    font-size: small;
    font-weight: bold;
    color: black;
    text-align: center;
    outline: 1px solid black;
    padding: 0;

}
.boardClass {
    width: 6.25%;
    font-size: 4vw;
}