.tooltip {
    visibility: hidden;
    width: auto;
    white-space: nowrap;
    background-color: #363434;
    color: #000000;
    text-align: left;
    padding: 5px 5px;
    border-radius: 6px;


    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltipTable {
    border-collapse: collapse;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    /* Optional: Adjust the gap between the divs */
}

.tooltipHandDiv {
    display: flex;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 2px;
    font-size: 20px;
    width: 7vw;
    height: 5vh;
}
.tooltipbetsize{
    color:#000000;
    font-size: 10px;
}
.tooltipEV{
    color:#000000;
    font-size: 14px;
}
.tooltipdivider{
    flex:50%;
}



.matrixRowDiv {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    width: 50vw;
    box-sizing: border-box;
}

.matrixSingleHandDiv {

    box-sizing: border-box;
    color: Black;
    display: inline-block;
    height: 4vh;
    font-size: small;
    font-weight: bold;
    color: black;
    text-align: center;
    outline: 1px solid black;
    padding: 0;

}