@import url('https://fonts.googleapis.com/css?family=Inter');
* {
   font-family: 'Inter';
   background-color: #141313;
   
   /* Dark background color */
   color: #fff;
   /* Light font color */
}
/* Reset some default margin and padding */
    body,
    h1,h2,
    p {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    /* Style the header */
    header {
     
        padding: 20px;
        text-align: center;
    }

    /* Style the article content */
    article {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        line-height: 1.6;
    }




    /* Add additional styles as needed */
    /* Apply styles to the entire table */
    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
    }

    /* Style table header */
    th {
        background-color: #2b2b2b;
        color:rgb(189, 23, 23);
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        font-weight: bold;
        font-size: larger;
    }

    /* Style alternating rows */
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Style table cells */
    td {
        border: 1px solid #ddd;
        padding: 8px;
    }


    /* Responsive table */
    @media (max-width: 600px) {
        table {
            border: 0;
        }

        table thead {
            display: none;
        }

        table tr {
            margin-bottom: 10px;
            display: block;
            border: 1px solid #ddd;
        }

        table td {
            display: block;
            text-align: right;
            position: relative;
            padding-left: 50%;
            white-space: normal;
        }

        table td::before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 15px;
            font-weight: bold;
            text-align: left;
        }
    }

    table+table {
        margin-top: 20px;
        /* Adjust the value as needed */
    }

    th:first-child,
    td:first-child {
        font-weight: bold;
    }
